.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 1000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table thead th {
    background-color: #f4d3db;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .table th,
  .table td { 
    padding: 10px 13px;
    
  }

  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .table tbody tr:nth-of-type(even) {
    background-color: #f0d6dd1a;
  }
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #ce4869;
  }