.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  .tr {
    border: 1px solid black;
  }